#include <winresrc.h>
#include "../resource.hpp"

#pragma code_page(65001)

MAINICON ICON "sostav.ico"
IDI_SOSTAV PNG "sostav.png"
IDI_SPLASH PNG "splash.png"
IDI_BEYOND ITMOD "beyond_the_network.it"
IDI_SPACE MOD "spacedeb.mod"
IDI_UNREAL S3MOD "2ND_PM.S3M"
IDI_DEADLOCK XMMOD "deadlock.xm"
IDI_BACKGROUND PNG "background.png"
IDI_JPG JPG "jpg.jpg"
IDI_GIF GIF "gif.gif"
IDI_BMP BMP "bmp.bmp"
IDI_FONT TTFFONT "PerfoOval Normal.ttf"